In [1]:
import folium
import json
import glob
import os
import pandas as pd
import numpy as np

In [4]:
df2 = pd.read_csv('소상공인시장진흥공단_상가(상권)정보_서울_202103.csv')

In [5]:
df2.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,17174175,비지트,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1165010100108540018009586,상랑의빌딩,서울특별시 서초구 동광로18길 82,137837,6572.0,NaN,1,102,126.991394,37.488375
1,17174119,쓰리에프,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1159010700101390073009536,NaN,서울특별시 동작구 동작대로27가길 12,156816,7008.0,NaN,NaN,NaN,126.980952,37.487105
2,17174096,채움,NaN,Q,음식,Q01,한식,Q01A01,한식/백반/한정식,I56111,...,1111012400100580000017956,두산위브파빌리온,서울특별시 종로구 삼봉로 81,110858,3150.0,NaN,NaN,NaN,126.981794,37.572387
3,17174062,호구의주방,NaN,D,소매,D07,가정/주방/인테리어,D07A17,주방가구판매,G47520,...,1156012800101600002019768,약산상가아파트,서울특별시 영등포구 선유로 269,150867,7206.0,NaN,NaN,NaN,126.897892,37.536700
4,22767534,BYC상신점,상신점,D,소매,D05,의복의류,D05A07,셔츠/내의/속옷,NaN,...,1171011300100360000022458,성암빌딩,서울특별시 송파구 오금로 527,138110,5768.0,NaN,1,NaN,127.147321,37.493054

In [6]:
df2.columns

Index(['상가업소번호', '상호명', '지점명', '상권업종대분류코드', '상권업종대분류명', '상권업종중분류코드',
       '상권업종중분류명', '상권업종소분류코드', '상권업종소분류명', '표준산업분류코드', '표준산업분류명', '시도코드',
       '시도명', '시군구코드', '시군구명', '행정동코드', '행정동명', '법정동코드', '법정동명', '지번코드',
       '대지구분코드', '대지구분명', '지번본번지', '지번부번지', '지번주소', '도로명코드', '도로명', '건물본번지',
       '건물부번지', '건물관리번호', '건물명', '도로명주소', '구우편번호', '신우편번호', '동정보', '층정보',
       '호정보', '경도', '위도'],
      dtype='object')

In [15]:
df3 = df2[['상호명','상권업종중분류명', '지점명','시도명','시군구명','행정동명','위도','경도']]

In [16]:
df3.head()

      상호명    상권업종중분류명  지점명    시도명  시군구명         행정동명         위도          경도
0     비지트          한식  NaN  서울특별시   서초구         방배4동  37.488375  126.991394
1    쓰리에프          한식  NaN  서울특별시   동작구         사당2동  37.487105  126.980952
2      채움          한식  NaN  서울특별시   종로구  종로1.2.3.4가동  37.572387  126.981794
3   호구의주방  가정/주방/인테리어  NaN  서울특별시  영등포구         양평2동  37.536700  126.897892
4  BYC상신점        의복의류  상신점  서울특별시   송파구         거여2동  37.493054  127.147321

In [17]:
df_coffee = df3[(df3['상권업종중분류명']=='커피점/카페')&(df3['시도명']=='서울특별시')]
df_coffee.head()

       상호명 상권업종중분류명          지점명    시도명 시군구명  행정동명         위도          경도
29     커피빈   커피점/카페  코리아대학로대명거리점  서울특별시  종로구   혜화동  37.583149  127.000171
115  요거프레소   커피점/카페          쌍문점  서울특별시  도봉구  쌍문2동  37.658728  127.034746
186  메머드커피   커피점/카페          NaN  서울특별시  마포구   서교동  37.554599  126.929692
229   버블베어   커피점/카페          NaN  서울특별시  강서구  방화3동  37.580941  126.813358
299  우성커피숍   커피점/카페          NaN  서울특별시  양천구  신월4동  37.522055  126.842935

In [19]:
df_ediya = df_coffee[df_coffee['상호명'].str.contains('이디야')]
df_ediya.index = range(len(df_ediya))
print('서울시 내 이디야 점포 수 :',len(df_ediya.index))
df_ediya.head()

서울시 내 이디야 점포 수 : 453

          상호명 상권업종중분류명    지점명    시도명  시군구명  행정동명         위도          경도
0       이디야커피   커피점/카페   신길역점  서울특별시  영등포구  신길1동  37.515118  126.918062
1       이디야커피   커피점/카페   라이프점  서울특별시  영등포구   여의동  37.519544  126.939198
2  이디야커피양재AT점   커피점/카페  양재AT점  서울특별시   서초구  양재2동  37.469075  127.040265
3       이디야커피   커피점/카페    시흥점  서울특별시   금천구  시흥2동  37.449066  126.913646
4       이디야커피   커피점/카페  개봉중앙점  서울특별시   구로구  개봉3동  37.486436  126.854872

In [21]:
geo_path = '02. skorea_municipalities_geo_simple.txt'
geo_str = json.load(open(geo_path, encoding='utf-8'))

In [26]:
df1 = pd.read_csv('CARD_SUBWAY_MONTH_202104.csv')

In [27]:
df1.head()

         사용일자    노선명     역명  승차총승객수    하차총승객수  등록일자
20210401  3호선   동대입구   8395    9328  20210404   NaN
20210401  2호선     시청  24312   23538  20210404   NaN
20210401  2호선  을지로입구  37818   39073  20210404   NaN
20210401  2호선  을지로3가  21370   21065  20210404   NaN
20210401  2호선  을지로4가  12908   12727  20210404   NaN

In [35]:
data = df1[(df1['노선명']=='선유도') | (df1['노선명']=='신목동') | (df1['노선명']=='염창') | (df1['노선명']=='등촌') | (df1['노선명']=='증미') | (df1['노선명']=='가양') | (df1['노선명']=='양천향교')]
data.head()

         사용일자  노선명     역명  승차총승객수    하차총승객수  등록일자
20210401  9호선  선유도   8299    8206  20210404   NaN
20210401  9호선  신목동   4286    3900  20210404   NaN
20210401  9호선   염창  17386   17084  20210404   NaN
20210401  9호선   등촌  11438   11120  20210404   NaN
20210401  9호선   증미   7592    7547  20210404   NaN

In [72]:
df_subway = pd.DataFrame(columns = ['역명', '승하차승객수'])

data = df1[(df1['노선명']=='선유도')][['역명','승차총승객수']].sum()
data_sum = data.sum()
insert_data = {'역명':'선유도','승하차승객수':data_sum}
df_subway = df_subway.append(insert_data, ignore_index=True)

data = df1[(df1['노선명']=='신목동')][['역명','승차총승객수']].sum()
data_sum = data.sum()
insert_data = {'역명':'신목동','승하차승객수':data_sum}
df_subway = df_subway.append(insert_data, ignore_index=True)

data = df1[(df1['노선명']=='염창')][['역명','승차총승객수']].sum()
data_sum = data.sum()
insert_data = {'역명':'염창','승하차승객수':data_sum}
df_subway = df_subway.append(insert_data, ignore_index=True)

data = df1[(df1['노선명']=='등촌')][['역명','승차총승객수']].sum()
data_sum = data.sum()
insert_data = {'역명':'등촌','승하차승객수':data_sum}
df_subway = df_subway.append(insert_data, ignore_index=True)

data = df1[(df1['노선명']=='증미')][['역명','승차총승객수']].sum()
data_sum = data.sum()
insert_data = {'역명':'증미','승하차승객수':data_sum}
df_subway = df_subway.append(insert_data, ignore_index=True)

data = df1[(df1['노선명']=='가양')][['역명','승차총승객수']].sum()
data_sum = data.sum()
insert_data = {'역명':'가양','승하차승객수':data_sum}
df_subway = df_subway.append(insert_data, ignore_index=True)

data = df1[(df1['노선명']=='양천향교')][['역명','승차총승객수']].sum()
data_sum = data.sum()
insert_data = {'역명':'양천향교','승하차승객수':data_sum}
df_subway = df_subway.append(insert_data, ignore_index=True)

df_subway

     역명   승하차승객수
0   선유도   405383
1   신목동   196078
2    염창   890624
3    등촌   582997
4    증미   377370
5    가양  1053553
6  양천향교   506326

In [73]:
import re
import requests
df_subway['역명'] = df_subway['역명'].apply(lambda x: re.sub(r'\([^)]*)','',x) if '(' in x else x)
df_subway['역명'] = df_subway['역명'].apply(lambda x: x+'역')

x=[]
y=[]
for query in df_subway['역명']:
    url = 'https://dapi.kakao.com/v2/local/search/keyword.json?query={}'.format(query)
    apikey = '0407a2349ecda6d17bcefa82be4efd99'
    kakao= requests.get( url, params = {'query':query}, headers={'Authorization' : 'KakaoAK ' + apikey } ).json() 
    x.append(kakao['documents'][0]['y'])
    y.append(kakao['documents'][0]['x'])

df_subway['latitude'] =x
df_subway['longitude'] =y
df_subway

      역명   승하차승객수          latitude         longitude
0   선유도역   405383   37.538156854068  126.893333867069
1   신목동역   196078  37.5442883741577  126.883095790252
2    염창역   890624   37.546982941543  126.874871603971
3    등촌역   582997  37.5507280806214  126.865572139231
4    증미역   377370  37.5581321602446  126.860637888459
5    가양역  1053553  37.5614331158033  126.854420294338
6  양천향교역   506326  37.5680808809647  126.841978835328

In [78]:
map=folium.Map(location=[37.5507280806214, 126.865572139231], zoom_start=12)
for i in df_subway.index:
    folium.CircleMarker([df_subway['latitude'][i],df_subway['longitude'][i]],radius = df_subway['승하차승객수'][i]/2000,
                        popup=df_subway['역명'][i],color='#3186cc', fill_color='#3186cc').add_to(map)
map

In [ ]:
df_subway['latitude'] = x
df_subway['longitude'] = y
df_subway2 = df_subway.reset_index()
df_subway2['승하차승객수'] = df_subway2['승하차승객수'].astype(float)